{{define "title"}}Snippet #{{.Snippet.UniqueCode}}{{ end }}
{{define "main"}}
<div class="snippet">
    <div class="metadata">
        <strong>{{.Snippet.Title}}</strong>
        <span>#{{.Snippet.UniqueCode}}</span>
    </div>
    <pre><code>{{.Snippet.Content}}</code></pre>
    <div class="metadata">
        <time>Created: {{.Snippet.CreatedAt}}</time>
        <time>Expires: {{.Snippet.ExpiredAt}}</time>
    </div>
</div>
{{ end }}
